/RPS.py
/__pycache__
/first_AI.py
/idiot.mp3
/idk.py
/jav script lessons and tries
/malicius tabs.py
/nine lives.py
/other.py
/project runer.py
/tk calculator.py
/tkinter test.py
/tkinter_simplefier.py
/turtle runs
/workout of the day.py